.card {
    padding: 20px 20px;
    text-align: center;
    width: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

p {
    font-size: 14px;
}

hr {
    background-color: #dddfe2;
    border: none;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.teacher-message .link{
    color: #fbb03b;
    cursor: pointer;
}

.student-message .link{
    color: #7dc241;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
    transition-duration: 0.2s;
    transition-property: color;
    transition-delay: 0s;
}
